@import "normalize";

$arancio: #EF5518;
$rosso: #CE0018;

* {
	box-sizing: border-box;
}
body {
	font-family: 'Dosis', sans-serif;
	user-select: none;
	color: #333;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

p {
	> img {
		position: relative;
		top: 6px;
	}
}

@media (max-width: 1199px) {

	.alignleft {
		float: left;
		margin-right: 1em; 
	}
	.img-right {
		display: none;
	}
		
	.floating__elements {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 201;
		pointer-events: none;
	}
	[class^="background"] {
		position: absolute;
		top: 50%;
		left: 50%;
		transition: transform 0.4s ease-in-out;
	}
	.tower {
		display: none;
	}
	.classiche {
		transform: translate(-115%, 5%) scale(0.5) rotate(-15deg);
	}
	.girotondi {
		transform: translate(-120%, -75%) scale(0.3) rotate(10deg);
	}
	.nuggets {
		transform: translate(20%, -60%) scale(0.4) rotate(-20deg);
	}

	.fp-viewing-presentation {

		.classiche {
			transform: translate(-35%, 5%) scale(0.3) rotate(5deg);
		}
		.girotondi {
			transform: translate(-140%, -95%) scale(0.25) rotate(-10deg);
		}
		.nuggets {
			transform: translate(-20%, -80%) scale(0.15) rotate(20deg);
		}
		
	}
	[class^="fp-viewing-characters-"] {

		.classiche {
			transform: translate(-125%, -25%) scale(0.25) rotate(-15deg);
		}
		.girotondi {
			transform: translate(-120%, -75%) scale(0.2) rotate(10deg);
		}
		.nuggets {
			transform: translate(20%, -90%) scale(0.3) rotate(-20deg);
		}
		
	}
	.fp-viewing-story {

		.classiche {
			transform: translate(-115%, 5%) scale(0.5) rotate(-15deg);
		}
		.girotondi {
			transform: translate(-120%, -95%) scale(0.5) rotate(10deg);
		}
		.nuggets {
			transform: translate(20%, -20%) scale(0.4) rotate(-20deg);
		}
	}
	.fp-viewing-discover {

		.classiche {
			transform: translate(-115%, 5%) scale(0) rotate(-15deg);
		}
		.girotondi {
			transform: translate(-120%, -75%) scale(0) rotate(10deg);
		}
		.nuggets {
			transform: translate(20%, -60%) scale(0) rotate(-20deg);
		}
	}

	.home__background {
		display: none;
	}
	.section {
		position: relative;
		min-width: 100%;
		background: url(../img/materiali/background_sky.jpg) center center no-repeat;
		background-size: cover;

	}
	.fp-slide {
	    float: left;
	}
	.fp-slide, .fp-slidesContainer {
	    height: 100%;
	    display: block;
	}
	.fp-slides {
	    z-index:1;
	    height: 100%;
	    overflow: hidden;
	    position: relative;
	    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
	    transition: all 0.3s ease-out;
	}
	.fp-section.fp-table, .fp-slide.fp-table {
	    display: table;
	    table-layout:fixed;
	    width: 100%;
	    height:100%;
	}
	.fp-tableCell {
	    display: table-cell;
	    vertical-align: middle;
	    width: 100%;
	    height: 100%;
	}
	.fp-slidesContainer {
	    float: left;
	    position: relative;
	}
	.home__menu {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
		text-align: center;
		background: $arancio;
		z-index: 200;
		transform-style: preserve-3d;
	}

	.loghi img {
		max-width: 110px;
		margin: 0;
		&.d-block {
			margin-top: -10px;
			max-width: 150px;
		}
	}
	#fullpage {
		z-index: 10;
	}
	#fp-nav {
		z-index: 201;
	}
	[class^="content__"] {
		text-align: center;
		font-size: 30px;
		line-height: 1.5;
		color: #fff;
		font-weight: 600;
		text-shadow: 3px 3px 4px #42495A;
	}
	.content__home {
		font-size: 35px;
		font-weight: 700;
		color: $rosso;
		text-shadow:
	    -2px -2px 0 #fff,
	    2px -2px 0 #fff,
	    -2px 2px 0 #fff,
	    2px 2px 0 #fff;  
	    p {
	    	margin: 0;
	    }
	    .smaller {
	    	font-size: 25px;
	    	margin-top: -10px;
	    }
	}
	.content__presentation {
		img {
			display: inline-block;
		}
		.description {
			display: inline-block;
			position: relative;
			top: -140px;
			text-align: left;
			margin-left: 1em;
		}

	}
	.content__characters {
		.slide {
			position: relative;
		}
		.fp-controlArrow {
			position: absolute;
			top: 50%;
			left: 50%;
			overflow: hidden;
			height: 122px;
			cursor: pointer;
			background-image: url('../img/base_descrizione.png');
			width: 148px;
			z-index: 120;
			transition: transform 0.4s linear;
			&.fp-next {
				background-position: 0 -571px;
				transform: matrix(1, -0.14, 0.14, 1, 270, -60);
				&:hover {
					background-position: 0 -692px;
					transform: matrix(1.04, -0.15, 0.15, 1.04, 270, -60);
				}
			}
			&.fp-prev {
				background-position: 0 -1257px;
				transform: matrix(1, -0.14, 0.14, 1, -310, 170);
				&:hover {
					background-position: 0 -1378px;
					transform: matrix(1.04, -0.15, 0.15, 1.04, -310, 170);
				}
			}
		}
		.info {
			position: absolute;
			top: 60%;
			left: 50%;
			text-align: center;
			background-image: url('../img/base_descrizione.png');
			background-repeat: no-repeat;
			z-index: 10;
			height: 221px;
			width: 441px;
			transform: translate3d(0);
			&.oh-disco {
				background-position: 0 -815px;
			}
			&.oh-v {
				background-position: 0 -1036px;
			}
			&.oh-tip {
				background-position: 0 -351px;
			}
			&.oh-pig {
				background-position: 0 -1501px;
			}
			&.oh-tip-pig {
				background-position: 0 -1722px;
			}
			&.smek {
				background-position: 0 -1943px;
			}
			&.kyle {
				background-position: 0 -815px;
			}
			h3 {
				font-size: 40px;
				margin: 0.5em;
				color: yellow;
			}
			p {
				font-size: 19px;
				margin: 1.8em 1.3em;
			}
		}
	}
	.content__story {
		p > img {
			top: 16px;
		}
	}

	.content__discover {
		background: url(../img/bg-prodotti.jpg) center center no-repeat;
		background-size: cover;
		a {
			color: yellow;
			font-size: 40px;
		}
		p {
			margin: 0;
		}
	}
	footer {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 135px;
		padding: 1em;
		padding-top: 2em;
		font-size: 13px;
		color: #fff;
		background: #39417B;
		z-index: 999;
		transform-style: preserve-3d;
		a {
			color: rgba(#fff, 0.5);
		}
	}
	.fp-viewing-discover footer {
		display: block;
	}
}
@media (max-width: 1023px) {
	.loghi img {
		max-width: 30%;
	}
	.home__menu {
		position: relative;		
		
	}
	.classiche {
		transform: translate(-100%, -135%) scale(0.4) rotate(-15deg);
	}
	.girotondi {
		transform: translate(-50%, -135%) scale(0.4) rotate(10deg);
	}
	.nuggets {
		transform: translate(0, -135%) scale(0.4) rotate(-20deg);
	}
	
	.content__presentation {
		.description {
			top: 0;
		}
	}
	.content__characters {

		.fp-controlArrow {
			display: none;
		}
		.info {
			position: absolute;
			top: 70%;
			left: 0;
			text-align: center;
			background: none;
			z-index: 10;
			height: 221px;
			width: 100%;
			transform: translate3d(0);
		
			h3 {
				font-size: 30px;
				margin: 0.5em 0;
				color: yellow;
			}
			p {
				font-size: 19px;
				margin: 0.5em 1.3em;
			}
		}
	}
	footer {
		position: static;
	}
}
@media (min-width: 1200px) {
	@import "fullpage";
	@import "1200up";

}